<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comment</key>
	<string>Personal LaunchAgent created by Gordon for Idea Purgatory; managed in /Users/gordon/code/side-projects/idea-purgatory/launchd.</string>
	<key>Label</key>
	<string>me.gordon.idea-purgatory.seed-board</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/opt/node@24/bin/npm</string>
		<string>run</string>
		<string>seed:once</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/opt/node@24/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>StandardErrorPath</key>
	<string>/Users/gordon/code/side-projects/idea-purgatory/seed-board.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/gordon/code/side-projects/idea-purgatory/seed-board.log</string>
	<key>StartInterval</key>
	<integer>1800</integer>
	<key>WorkingDirectory</key>
	<string>/Users/gordon/code/side-projects/idea-purgatory</string>
</dict>
</plist>
